//colors
$color_shark_approx: #22272e;
$color_shark_40_approx: rgba(34, 39, 46, 0.4);
$color_mandy_approx: #eb5055;
$color_mandy_15_approx: rgba(235, 80, 85, 0.15);
$color_alto_approx: #dadada;
$white: white;
$color_mercury_approx: #e5e5e7;
$color_heavy_metal_approx: #2c2c2c;
$color_boston_blue_approx: #449bb5;
$color_boston_blue_15_approx: rgba(68, 155, 181, 0.15);
$color_mountain_mist_approx: #999999;
$color_boston_blue_10_approx: rgba(68, 155, 181, 0.1);
$color_corn_40_approx: rgba(241, 196, 15, 0.4);
$wild_sand: #f4f4f4;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;

//urls
$url_0: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAFVBMVEUAAAAzMzMsLCwsLCwsLCwsLCwsLCyYZyYLAAAABnRSTlMABVGorvpvcGabAAAAT0lEQVR42u2RMQ4AIAgDFaT/f7JGuylp2O0iyV0i1vZTTnc7g3l/8oGwzQPjZTiwjM0BvzBBGI+WGjmnQZ4Z5FrQV8gl5TNlUbJq+Vk/1Uwb6wJ59zQ2QgAAAABJRU5ErkJggg==);

.io-preloader {
  height: 15px;
  width: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: $color_shark_approx $color_shark_40_approx $color_shark_40_approx $color_shark_40_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  animation: clockwise .45s linear infinite;
}

@keyframes clockwise {
  to {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(360deg) translatez(0);
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(360deg) translatez(0);
  }
}

vibor {
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  font-size: 14px;
  font-family: $font_1, $font_0, $font_2;
  .select-search {
    cursor: text;
    border: 1px solid $color_alto_approx;
    background-color: $white;
    overflow: hidden !important;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    font-size: inherit;
  }
  .select-search-list {
    display: flex;
    flex-flow: row wrap;
    min-height: 38px;
    justify-content: flex-start;
    margin: 0;
    padding: 2px 4px;
    list-style: none;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
  }
  .select-search-list-item {
    margin: 2px 4px 2px 0;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
  }
  .select-search-list-item_selection {
    cursor: pointer;
    background: $color_mercury_approx;
    color: $color_heavy_metal_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    padding: 0 6px;
    height: 25px;
    line-height: 25px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    font-size: inherit;
    white-space: nowrap;
    &:hover {
      color: $color_heavy_metal_approx;
    }
    &.focused {
      background: $white;
      .close-button {
        display: none;
      }
    }
  }
  .select-search-list-item_selection-remove {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: $url_0;
  }
  .select-search-list-item_selection-label {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
  }
  .select-search-list-item_loader {
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: $color_shark_approx $color_shark_40_approx $color_shark_40_approx $color_shark_40_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    animation: clockwise .45s linear infinite;
  }
  .select-search-list-item_input {
    flex-grow: 1;
    margin: 0 0 0 6px;
    display: flex;
    align-items: center;
    height: 29px;
    input {
      padding: 0;
      padding-right: 25px;
      outline: 0;
      border: 0;
      width: 100%;
      font-size: inherit;
    }
  }
  .select-search-list-item_hide {
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    text-indent: -9999em;
  }
  .select-dropdown {
    position: absolute;
    overflow-y: scroll;
    max-height: 150px;
    width: 100%;
    min-width: 160px;
    font-size: 14px;
    background-color: $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0 0 3px 3px;
    border: 1px solid $color_boston_blue_approx;
    border-top: 0;
    outline: 0;
    //Instead of the line below you could use @include background-clip($clip)
    background-clip: padding-box;
    z-index: 1000;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 6px $color_boston_blue_15_approx;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &.ng-enter {
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: 0.2s linear all;
    }
    &.ng-leave {
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: 0.2s linear all;
    }
  }
  .select-dropdown-optgroup {
    margin: 0;
    padding: 0;
  }
  .select-dropdown-optgroup-header {
    font-size: 12px;
    color: $color_mountain_mist_approx;
    text-transform: uppercase;
    padding: 3px 10px;
  }
  .select-dropdown-optgroup-option {
    display: block;
    padding: 10px;
    color: #2c2c2c;
    cursor: pointer;

    &:hover {
      background: $color_boston_blue_10_approx;
    }
    &.disabled {
      color: $color_alto_approx;
    }
    strong {
      font-weight: normal;
      background: $color_corn_40_approx;
    }
    &.active:not(.disabled) {
      cursor: pointer;
      background: $color_boston_blue_10_approx;
    }
  }
  &.limited {
    .select-search {
      border-color: $color_mandy_approx;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 3px 6px $color_boston_blue_15_approx;
    }
    .select-dropdown {
      border-color: $color_mandy_approx;
    }
  }
  &.invalid-item {
    .select-search {
      border-color: $color_mandy_approx;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 3px 6px $color_boston_blue_15_approx;
    }
    .select-dropdown {
      border-color: $color_mandy_approx;
    }
  }
  &.open {
    .select-search {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 3px 3px 0 0;
      border-bottom: 1px solid $color_mercury_approx;
    }
    &:not(.multiple) .select-search:after {
      border-color: $color_heavy_metal_approx transparent transparent transparent;
      border-width: 4px 4px 0 4px;
    }
  }
  &.medium {
    font-size: 14px;
  }
  //&.ng-invalid .select-search {
  //  border-color: $color_mandy_approx;
  //  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  //  box-shadow: 0 3px 6px $color_mandy_15_approx;
  //}
  &:not(.multiple) {
    min-height: 40px;
    height: 40px;
    .select-search {
      min-height: 40px;
    }
    .select-search-list {
      align-items: center;
    }
    .select-search-list-item_input {
      height: auto;
    }
    .select-search-list-item_selection {
      color: $color_heavy_metal_approx;
      width: 100%;
      text-align: left;
      background: none;
      height: auto;
      line-height: normal;
      &:not(:active) {
        background: none;
      }
    }
    .select-search-list-item_selection-remove {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -8px;
      cursor: pointer;
      z-index: 99;
    }
    &:not(.cleanMode) {
      .select-search-list-item_selection-remove {
        display: none;
      }
      .select-search:after {
        content: "";
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('./arrow.svg');
        transition: transform 0.15s ease-in-out;
      }
    }
  }
  &.focused .select-search {
    border-color: $color_boston_blue_approx;
    outline: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 6px $color_boston_blue_15_approx;
  }
  &.loading:not(.multiple) .select-search:after {
    border-width: 0;
  }
}

.select-dropdown-pager {
  padding: 10px 0 0;
  text-align: center;

  .select-dropdown-pager-page {
    color: #999;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .select-dropdown-pager-loadmore {
    color: #999;
    border: none;
    border-top: 1px dashed #e5e5e7;
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    background: transparent;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }
}

.select-dropdown .select-dropdown-optgroup > li {
  padding: 10px; }


vibor[disabled] {
  .select-search {
    cursor: not-allowed;
    background: $wild_sand;
    border: 1px solid $color_alto_approx;
    opacity: 0.5;
  }
  .select-search-list-item_selection {
    cursor: not-allowed;
    background: $wild_sand;
  }
  .select-search-list-item_selection-remove {
    visibility: hidden;
  }
  .select-search-list-item_input input:disabled {
    cursor: not-allowed;
    background: none;
  }
}

vibor {
  .select-search-list {
    .select-search-list-item:last-of-type:not([hidden]) {
      display: block;
      width: 25px;
      height: 25px;
      background: #fff;
      z-index: 2;
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }
  }
  &.open-vibor {
    .select-search {
      border: 1px solid #449bb5;
      box-shadow: 0px 3px 6px 0px rgba(67, 154, 181, 0.15);
      border-radius: 3px 3px 0 0;
      border-bottom: 0;
    }
  }
}

vibor:not(.multiple):not(.cleanMode) {
  &.open-vibor {
    .select-search:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

vibor .select-dropdown .select-dropdown-optgroup > li.loader {
  text-align: center;
  font-family: ClearSans-Light, Arial, sans-serif;
  color: #999;
}

.select-search:hover {
  border: 1px solid #DADADA;
  box-shadow: 0px 3px 6px 0px rgba(44, 44, 44, 0.1);
  border-radius: 3px;
}
